/*div > *:not(.input-group) {*/
  /*filter: blur(3px);*/
/*}*/
.alert-danger{
  padding: 3px 3px 3px 3px;
}
.alert {
  /*overflow-x: auto;*/
  /*overflow-y: auto;*/
  z-index:900;
  /*z-index: 2; !* Make sure its above other items. *!*/
  position: relative;
  width: 510px; /* Set your desired with */
  /*height: 380px; !* Set your desired with *!*/
  height: auto; /* Set your desired with */
  /*width: 40%; */
  /*height: 45%; */
  margin: 0 auto;
  /*top: 30%;*/
  /*left: 40%;*/
  /*margin-top: -10%;*/
  /*margin-left: -10%; */
  background-color: white;
  border-color: white;
  box-shadow: 0 0 20px #000000;
  color: #333333;
  padding-bottom: 20px;
  /*-webkit-filter: blur(2px);*/
  /*filter: blur(2px);*/
}
.alert2 {
  /*overflow-x: auto;*/
  /*overflow-y: auto;*/
  z-index: 2; /* Make sure its above other items. */
  position: fixed;
  width: 40%; /* Set your desired with */
  height: 45%; /* Set your desired with */
  top: 30%;
  left: 40%;
  margin-top: -10%; /* Changes with height. */
  margin-left: -10%; /* Your width divided by 2. */
  background-color: white;
  border-color: white;
  /*box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 0 20px #000000;
  color: #333333;
  /*-webkit-filter: blur(2px);*/
  /*filter: blur(2px);*/
}
#orElement{
  text-align: center;
  font-size: 30px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 0;
}
.login-btn-green {
  width: auto;
  height: 43px;
  margin-bottom: 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #8abc22;
  border-bottom: 1px solid #71a816;
  background: #8abc22;
  padding: 10px 10px 15px 10px;
  font-size: 18px;
  color: #fff;
  float: right;
  font-family: 'Open Sans', Arial, sans-serif;
  cursor: pointer;
}
.close{
  padding: 0 0 0 0;
  margin-right: 10px;
  margin-top: 10px;
}
.login-header {
  margin-top: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  font-size: 26px;
  color: #005A70;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.login-icon{
  cursor: pointer;
  float: left;
  position: relative;
  left: 50%;
}
