<!--The content below is only a placeholder and can be replaced.-->

  <div>
  <nav class="navbar navbar-light bg-faded" style="background: #005A70;">
    <div class="lang" style="margin-right: 50px">
      <button class="btn btn-success btn-sm btn-lang">ENG</button>
      <button class="btn btn-success btn-sm btn-lang">DAN</button>

    </div>
    <ul class="nav justify-content-end" style="margin-right: 50px">
      <li class="nav-item">
        <a routerLink="home" class="nav-link active router-link">Mail</a>
      </li>
      <li class="nav-item">
        <a routerLink class="nav-link router-link" (click)="enterLogin()">Log in</a>
      </li>
      <li class="nav-item">
        <a routerLink="demo" class="nav-link router-link">Demo</a>
      </li>
    </ul>
  </nav>
</div>

<div style="text-align:center" class="bliv-header">
  <h1>
    Become a User Tester
  </h1>
</div>

<app-login *ngIf="isLogin"></app-login>

<router-outlet></router-outlet>

